<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<% @genres.each do |genre| %>
				<%= link_to genre.genre,genre_order_path(genre.id),class: "genre_#{genre.id} genre-link col-md-2" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
	<h2>人気順</h2>
	<%= link_to "新着順",genre_order_path(@genre.id) %>
	<% @genre_ranks.each do |item| %>
		<div class="item-index">
			<a href="<%= item.link %>">
				<%= attachment_image_tag item, :image,fallback: "no_image.jpg", size:"240x150" %>
				<p class="item-content">
					<%= item.content %>
				</p>
			</a>
			<p class="user-name">
				<strong><%= link_to item.user.name,user_path(item.user.id) %></strong>
			</p>
			<div id="favorite-<%= item.id %>">
				<%= render partial: "favorites/favorite", locals: { item: item } %>
			</div>
		</div>
	<% end %>