<div class="body">
	<div class="genre-link1">
		<% @genres.each do |genre| %>
		<%= link_to genre_path(genre.id),class: "genre_#{genre.id} genre-link" do %>
		<%= genre.genre %>
		<% end %>
		<% end %>
	</div>

	<div class="post-padding-top">
		<h2>人気</h2>
		<%= link_to "新着順",genre_path(@genre.id) %>
		<% @genre_ranks.each do |post| %>
			<%= link_to post_path(post.id) do %>
				<% if post.genre_id==1 %>
					<div class="post-roop post-color-1">
				<% elsif post.genre_id==2 %>
					<div class="post-roop post-color-2">
				<% elsif post.genre_id==3 %>
					<div class="post-roop post-color-3">
				<% elsif post.genre_id==4 %>
						<div class="post-roop post-color-4">
				<% elsif post.genre_id==5 %>
						<div class="post-roop post-color-5">
				<% elsif post.genre_id==6 %>
						<div class="post-roop post-color-6">
				<% elsif post.genre_id==7 %>
						<div class="post-roop post-color-7">
				<% elsif post.genre_id==8 %>
						<div class="post-roop post-color-8">
				<% elsif post.genre_id==9 %>
						<div class="post-roop post-color-9">
				<% elsif post.genre_id==10 %>
						<div class="post-roop post-color-10">
				<% elsif post.genre_id==11 %>
						<div class="post-roop post-color-11">
				<% else %>
						<div class="post-roop post-color-12">
				<% end %>
				<p class="post-user-name">
					<%= link_to user_path(post.user.id) do %>
							<%= attachment_image_tag post.user, :profile_image,fallback: "no_image.jpg", size:"50x50" %>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= post.user.name %>
					<% end %>
				</p>
				<%= link_to post_path(post.id) do %>
					<p class="post-content">
						<%= post.content %>
					</p>
				<div id="like-<%= post.id %>">
					<%= render partial: "likes/like", locals: { post: post } %>
				</div>
				<% end %>
			            </div>
			<% end %>
		<% end %>
	</div>
</div>