<div class="item-createtime">
	<span>
		<% if current_user.nil? %>
		    <%= link_to new_user_session_path do %>
				<span class="yellow"><i class="far fa-star"></i></span>
			<% end %>
		<% else %>
			<% if item.user==current_user %>
				<%= link_to "編集",edit_user_post_item_path(user_id: current_user.id,post_id: item.post.id, id: item.id),class: "btn-border" %>
				<%= link_to "削除",post_item_path(post_id: item.post.id,id: item.id),class: "btn-border2",method: :delete %>
			<% else %>
			<% end %>
			<% if current_user.already_favorited?(item) %>
				<%= link_to item_favorites_path(item_id: item.id),method: :delete,remote: true do %>
				    <span class="yellow"><i class="fas fa-star"></i></span>
				<% end %>
			<% else %>
				<%= link_to item_favorites_path(item_id: item.id),method: :post,remote: true do %>
				    <span class="yellow"><i class="far fa-star"></i></span>
				<% end %>
			<% end %>
		<% end %>
		<span class="black">
			<%= item.favorites.count %>
		</span>
		<%= item.created_at.to_s(:datetime2_jp) %>
	</span>
</div>