<div class="body">
	<div class="genre-link1">
		<div class="genre-link1-title">ジャンルから探す</div>
		<% @genres.each do |genre| %>
		    <% if @genre==genre %>
				<label class="genre-link genre-link-color">
					<%= link_to admins_genre_path(genre.id) do %>
						<span>#</span>
						<span class="genre-genre">
							<%= genre.genre %>
						</span>
					<% end %>
				</label>
			<% else %>
				<label class="genre-link">
					<%= link_to admins_genre_path(genre.id) do %>
						<span>#</span>
						<span class="genre-genre">
							<%= genre.genre %>
						</span>
					<% end %>
				</label>
			<% end %>
		<% end %>
	</div>
	<div class="post-padding-top">
		<div class="genre-genre-title"><span># </span><%= @genre.genre %></div>
	    <div class="genre-genre-title-2">人気順</div>
		<%= link_to "新着順で探す",admins_genre_path(@genre.id) %>
		<% @genre_ranks.each do |post| %>
			<%= link_to admins_post_path(post.id) do %>
			    <div class="post-roop">
					<div class="post-user-name">
			    		<%= link_to admins_user_path(post.user.id) do %>
			    		   <%= attachment_image_tag post.user, :profile_image,fallback: "no_image.jpg", size:"50x50" %>
			    		   <%= link_to post.user.name, admins_user_path(post.user.id),class: "post-user-name-link" %>
			    		<% end %>
			    	</div>
					<%= link_to admins_post_path(post.id) do %>
						<p class="post-content">
							<%= post.content %>
						</p>
					    <div class="post-datetime">
							<span class="pink"><i class="far fa-heart"></i></span>
							<%= post.likes.count %>&nbsp;&nbsp;&nbsp;&nbsp;
							<%= post.created_at.to_s(:datetime_jp) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= link_to "編集",edit_admins_post_path(post.id) %>
							｜
							<%= link_to "削除",admins_post_path(post.id),method: :delete %>
					    </div>
					<% end %>
			    </div>
			<% end %>
		<% end %>
		<div class="paginate">
    		<%= paginate @genre_ranks %>
        </div>
	</div>
</div>