<div class="body post-new">
	<div class="post-new-inset">
		<div class="post-new-title">ジャンル追加画面</div>
		<%= form_for @genre, url:admins_genres_path do |f| %>
		    <% if @genre.errors.any? %>
				<div class = "alert alert-warning">
				  	<ul>
				  		<% @genre.errors.full_messages.each do |message| %>
	                      <li><%= message %></li>
	                    <% end %>
	                </ul>
	            </div>
            <% end %>
			<div class="field">
			   <%= f.text_field :genre,class: "field-field",:placeholder => "ジャンル" %>
			</div>
			<div class="post-new-btn-line">
			   <%= f.submit '追加',class: "post-new-btn"  %>
			</div>
		<% end %>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="">id</th>
				<th class="">ジャンル</th>
				<th class=""></th>
			</tr>
		</thead>
		<% @genres.each do |genre| %>
			<thead>
				<tr>
					<td class=""><%= genre.id %></td>
					<td class="">
							<%= genre.genre %>
					</td>
					<td class="">
						<%= link_to "編集",edit_admins_genre_path(genre) %>
						<%= link_to "削除",admins_genre_path(genre),method: :delete %>
					</td>
				</tr>
			</thead>
		<% end %>
	</table>
</div>