<div class="body">
	<div class="profile-content">
		<div class="profile-left">
			<div class="profile-image">
			    <%= attachment_image_tag @user, :profile_image,fallback: "no_image.jpg", size:"120x120" %>
			</div>
			<div id="stats_<%= @user.id %>">
				<%= render partial: 'relationships/stats',locals: { user: @user} %>
		    </div>
			<% if current_user==@user %>
			    	<%= link_to "プロフィール編集",edit_user_path(@user.id),class: "profile-edit profile-edit-2" %>
			<% else %>
			<div id="follow_form_<%= @user.id %>">
		        <%= render partial: 'relationships/follow_form',locals: { user: @user} %>
		    </div>
			<% end %>
		</div>
		<div class="profile">
			<h4><%= @user.name %></h4>
			<h5 class="profile-right"><%= @user.old %>歳&nbsp;&nbsp;&nbsp;<%= @user.gender %>性&nbsp;&nbsp;&nbsp;
				<% if @user.writer == "writer" %>
				<span class="profile-writer"><%= @user.writer %></span>
				<% else %>
				<span class="profile-user"><%= @user.writer %></span>
				<% end %>
			</h5>
			<h4><%= @user.introduction %></h4>
		</div>
	</div>
	<div class="post-padding-top">
		<% @posts.each do |post| %>
			<%= link_to post_path(post.id) do %>
			    <div class="post-roop">
			    	<p class="post-user-name">
			    		<%= link_to user_path(post.user.id) do %>
				    		<%= attachment_image_tag post.user, :profile_image,fallback: "no_image.jpg", size:"50x50" %>
				    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    		<%= post.user.name %>
			    		<% end %>
			    	</p>
			    	<%= link_to post_path(post.id) do %>
				    	<p class="post-content">
				    		<%= post.content %>
				    	</p>
				    	<div id="like-<%= post.id %>">
				    		<%= render partial: "likes/like", locals: { post: post } %>
				    	</div>
			    	<% end %>
			    </div>
			<% end %>
	    <% end %>
	    <div class="paginate">
	    	<%= paginate @posts, :param_name => 'post_page' %>
	    </div>
    </div>
    <div class="item-content user-item-index">
    	<% @items.each do |item| %>
    	<div class="item-index">
    		<a href="<%= item.link %>">
    			<%= attachment_image_tag item, :image,fallback: "no_image.jpg", size:"228x160" %>
    			<div class="item-content-2">
    				<span>
    					<%= item.content.truncate(49) %>
    				</span>
    			</div>
    		</a>
    		<div class="user-name">
    			<span>
    				<strong><%= link_to item.user.name,user_path(item.user.id) %></strong>
    			</span>
    		</div>
    		<div id="favorite-<%= item.id %>">
    			<%= render partial: "favorites/favorite", locals: { item: item } %>
    		</div>
    	</div>
    	<% end %>
    	<div class="paginate">
    		<%= paginate @items, :param_name => 'item_page' %>
        </div>
    </div>
</div>