	<div class="profile-left">
		<div class="profile-image">
		    <%= attachment_image_tag @user, :profile_image,fallback: "no_image.jpg", size:"120x120" %>
		</div>
		<% if current_user==@user %>
		    <p>
		    	<%= link_to "プロフィール編集",edit_user_path(@user.id),class: "profile-edit" %>
		    </p>
		<% end %>
	</div>
	<div class="profile">
		<h4><%= @user.name %></h4>
		<h5 class="profile-right"><%= @user.old %>歳&nbsp;&nbsp;&nbsp;<%= @user.gender %>性&nbsp;&nbsp;&nbsp;
			<% if @user.writer == "writer" %>
			<span class="profile-writer"><%= @user.writer %></span>
			<% else %>
			<span class="profile-user"><%= @user.writer %></span>
			<% end %>
		</h5>
		<h4><%= @user.introduction %></h4>
	</div>
	<% @user.posts.each do |post| %>
				<div class="row">
					<%= link_to post_path(post.id) do %>
					<% if post.genre_id==1 %>
					<div class="col-md-10 col-md-offset-1 post-roop post-color-1">
					<% elsif post.genre_id==2 %>
					<div class="col-md-10 col-md-offset-1 post-roop post-color-2">
				    <% elsif post.genre_id==3 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-3">
				    <% elsif post.genre_id==4 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-4">
				    <% elsif post.genre_id==5 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-5">
				    <% elsif post.genre_id==6 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-6">
				    <% elsif post.genre_id==7 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-7">
				    <% elsif post.genre_id==8 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-8">
				    <% elsif post.genre_id==9 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-9">
				    <% elsif post.genre_id==10 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-10">
				    <% elsif post.genre_id==11 %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-11">
				    <% else %>
				    <div class="col-md-10 col-md-offset-1 post-roop post-color-12">
				    <% end %>
						<p class="post-user-name">
							<%= attachment_image_tag post.user, :profile_image,fallback: "no_image.jpg", size:"50x50" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= post.user.name %>

						</p>
						<p class="post-content">
							<%= post.content %>
						</p>
						<div id="like-<%= post.id %>">
							<%= render partial: "likes/like", locals: { post: post } %>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
	<div class="user-item-index">
	<% @user.items.each do |item| %>
		<div class="item-index">
			<a href="<%= item.link %>">
				<%= attachment_image_tag item, :image,fallback: "no_image.jpg", size:"240x150" %>
				<p class="item-content">
					<%= item.content %>
				</p>
			</a>
			<p class="user-name">
				<strong><%= link_to item.user.name,user_path(item.user.id) %></strong>
			</p>
			<div id="favorite-<%= item.id %>">
				<%= render partial: "favorites/favorite", locals: { item: item } %>
			</div>
		</div>
	<% end %>
	</div>