<div class="body user-edit">
	<div class="profile-edit-all">
		<div class="profile-edit-title">プロフィール編集</div>
		<%= form_for @user, url:admins_user_path(@user.id) do |f| %>
			<% if @user.errors.any? %>
				<div class = "alert alert-warning">
				  	<ul>
				  		<% @user.errors.full_messages.each do |message| %>
	                      <li><%= message %></li>
	                    <% end %>
	                </ul>
	            </div>
            <% end %>
		<div class="field">
			<div class="field-tag">
				<%= f.label :名前 %>
			</div>
			<%= f.text_field :name,class: "field-field",:placeholder => "例）山田太郎（20文字以下）" %>
		</div>
		<div class="field">
			<div class="field-tag">
				<%= f.label :性別 %>
			</div>
		    <div class="gender-radio">
			    <%= f.radio_button :gender, "男" %> <span class="gender-radio-margin">男</span>
			    <%= f.radio_button :gender, "女" %> <span class="gender-radio-margin">女</span>
		    </div>
		</div>
		<div class="field">
			<div class="field-tag">
				<%= f.label :writerかuser %>
			</div>
		    <div class="writer-radio">
			    <%= f.radio_button :writer, "writer" %> <span class="writer-radio-margin">writer</span>
				<%= f.radio_button :writer, "user" %> <span class="writer-radio-margin">user</span>
			</div>
		</div>
		<div class="field">
			<div class="field-tag">
				<%= f.label :年齢 %>
			</div>
			<%= f.number_field :old,class: "field-field",:placeholder => "例）20" %>
		</div>
		<div class="field">
			<div class="field-tag">
				<%= f.label :プロフィール画像 %>
			</div>
			<%= f.attachment_field :profile_image,class: "field-field" %>
		</div>
		<div class="field">
			<div class="field-tag">
				<%= f.label :自己紹介 %>
			</div>
			<%= f.text_area :introduction,class: "field-field introduction",:placeholder => "（100文字以下）" %>
		</div>
		<div class="profile-btn-line">
			<%= f.submit '編集完了',class: "profile-btn" %>
		</div>
		<% end %>
		<div class="user-destroy-line">
			<%= link_to "アカウント削除",admins_user_path(@user.id),class: "user-destroy-btn",method: :delete, data:{confirm: "本当にアカウントを削除しますか？"} %>
		</div>
	</div>
</div>