<div class="body">
	<div class="genre-link1">
		<div class="genre-link1-title">ジャンルから探す</div>
		<% @genres.each do |genre| %>
			<label class="genre-link">
				<%= link_to genre_order_path(genre.id) do %>
					<span>#</span>
					<span class="genre-genre">
						<%= genre.genre %>
					</span>
				<% end %>
			</label>
		<% end %>
	</div>
	<div class="genre-genre-title-2">人気順</div>
	<%= link_to "新着順で探す",items_path,class: "link-sp" %><br>
	<div class="item-content">
		<% @all_ranks.each do |item| %>
		<div class="item-index">
			<a href="<%= item.link %>">
				<%= attachment_image_tag item, :image,fallback: "no_image.jpg", size:"228x160" %>
				<div class="item-content-2">
					<span>
						<%= item.content.truncate(49) %>
					</span>
				</div>
			</a>
			<div class="user-name">
				<span>
					<strong><%= link_to item.user.name,user_path(item.user.id) %></strong>
				</span>
			</div>
			<div id="favorite-<%= item.id %>">
				<%= render partial: "favorites/favorite", locals: { item: item } %>
			</div>
		</div>
		<% end %>
		<div class="paginate">
    		<%= paginate @all_ranks %>
        </div>
	</div>
</div>