<div class="body post-new">
	<div class="post-new-inset">
		<div class="post-new-title">投稿を編集しよう</div>
		<%= form_for @post, url:post_path(@post.id) do |f| %>
		    <% if @post.errors.any? %>
				<div class = "alert alert-warning">
				  	<ul>
				  		<% @post.errors.full_messages.each do |message| %>
	                      <li><%= message %></li>
	                    <% end %>
	                </ul>
	            </div>
            <% end %>
		<div class="field">
		   <%= f.collection_select :genre_id, @genres, :id, :genre, {include_blank: "ジャンル"} %>
		</div>
		<div class="field">
		   <%= f.text_area :content,class: "field-field post-new-content",:placeholder => "どんな記事が欲しいか書いてみよう（198文字以下）" %>
		</div>
		<div class="post-new-btn-line">
		   <%= f.submit '編集完了',class: "post-new-btn"  %>
		</div>
		<% end %>
	</div>
</div>