<div class="body">
	<% if @post_or_item=="1" %>
		<div class="post-padding-top">
			<% @posts.each do |post| %>
				<%= link_to post_path(post.id) do %>
				    <div class="post-roop">
				    	<div class="post-user-name">
				    		<%= link_to user_path(post.user.id) do %>
				    		<%= attachment_image_tag post.user, :profile_image,fallback: "no_image.jpg", size:"50x50" %>
				    		<%= link_to post.user.name, user_path(post.user.id),class: "post-user-name-link" %>
				    		<% end %>
				    	</div>
						<%= link_to post_path(post.id) do %>
							<p class="post-content">
								<%= post.content %>
							</p>
							<div id="like-<%= post.id %>">
								<%= render partial: "likes/like", locals: { post: post } %>
						    </div>
						<% end %>
					</div>
				<% end %>
			<% end %>
			<div class="paginate">
				<%= paginate @posts %>
    		</div>
		</div>
	<% else %>
		<div class="item-content">
			<% @items.each do |item| %>
			<div class="item-index">
				<a href="<%= item.link %>">
					<%= attachment_image_tag item, :image,fallback: "no_image.jpg", size:"228x160" %>
					<div class="item-content-2">
						<span>
							<%= item.content.truncate(49) %>
						</span>
					</div>
				</a>
				<div class="user-name">
					<span>
						<strong><%= link_to item.user.name,user_path(item.user.id) %></strong>
					</span>
				</div>
				<div id="favorite-<%= item.id %>">
					<%= render partial: "favorites/favorite", locals: { item: item } %>
				</div>
			</div>
			<% end %>
			<div class="paginate">
				<%= paginate @items %>
			</div>
		</div>
	<% end %>
</div>
