<!DOCTYPE html>
<html>
  <head>
    <title>Wancle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <header>
    <div class="wancle">
      <span class="float font">Wancle</span>
      <span class="float">
      <img src="/assets/記事アイコン5.jpeg" alt="">
      </span>
      <p>〜あなたが欲しい記事を〜</p>
    </div>
    <% if user_signed_in? %>
      <ul class="wancle-right">
        <li class="header-link">
          <%= link_to "新規投稿", new_post_path %>
        </li>
        <li class="header-link">
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li class="header-link">
          <%= link_to "記事一覧",items_path %>
        </li>
        <li class="header-link">
          <%= link_to "マイページ", user_path(current_user) %>
        </li>
        <li class="header-link">
          <%= link_to "ログアウト",destroy_user_session_path,method: :delete %>
        </li>
    <% else %>
      <ul class="wancle-right">
        <li class="header-link">
          <%= link_to "Wancleについて", tops_about_path %>
        </li>
        <li class="header-link">
          <%= link_to "アカウント作成", new_user_registration_path %>
        </li>
        <li class="header-link">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
    <% end %>
        <li class="header-link">
          <%= form_tag(search_path, :method=>'get') do %>
          <%= text_field_tag :search,"",class: "search-radius",:placeholder => "キーワードから探す" %>
          <%= button_tag :type => "submit",class: "search-color" do %>
          <i class="fas fa-search"></i>
          <% end %>
          <% end %>
        </li>
      </ul>
  </header>
    <%= yield %>
    <span id="back">
      <a href="#">
        <img src="/assets/pagetop2.jpg" alt="">
      </a>
    </span>
  </div>
  <footer>
    Copyright © 2019 Wancle
  </footer>
  </body>
</html>
